@model IEnumerable<WebPerson.Models.ApplicationUser>


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EmailConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEnabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LockoutEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NormalizedEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NormalizedUserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PasswordHash)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SecurityStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.AccessFailedCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEnabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LockoutEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NormalizedEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NormalizedUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PasswordHash)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SecurityStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |*@
                    <a data-toggle="modal" data-target="#myModal" class="btn btn-primary" onclick="GetDataAjax('@item.Id','Users/EditAjax')">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Editar Usuarios.</h4>
            </div>

            <div class="modal-body">

                <form asp-action="Edit">
                    <div class="form-horizontal">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" name="Id" for="Id" />

                        <div class="form-group">
                            <label for="Email" class="col-md-4 control-label">E-Mail</label>
                            <div class="col-md-8">
                                <input for="Email" id="Email" name="Email" class="form-control" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="UserName" class="col-md-4 control-label">User Name</label>
                            <div class="col-md-8">
                                <input for="UserName" id="UserName" name="UserName" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="PhoneNumber" class="col-md-4 control-label">Phone Number</label>
                            <div class="col-md-8">
                                <input for="PhoneNumber" id="PhoneNumber"  name="PhoneNumber" class="form-control" />
                            </div>
                        </div>


                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="SetDataUser('Users/EditUserAjax')" class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>